.block {
  display: block;
  flex-direction: column;
  width: 300px;
  border-bottom: 2px solid rgb(204, 203, 203);
}

.block__img {
    width: 100%;
    height: 220px;
}
.block__descr {
}
.block__title {

}
.block__text {
}
